body {
    padding: 50px;
    display: flex;
    flex-direction: column;
    font-family: 'DM Sans', serif;
    align-items: center;
}
section.concepts {
    max-width: 600px;
    line-height: 175%;
}
img.logo {
    width: 600px;
}
.blueColor {
    color: #1A65F3;
}
.accent {
    font-weight: bolder;
}