body {
    padding: 50px;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat Alternates', sans-serif;
    align-items: center;
}
header, footer, section.concepts {
    max-width: 1100px;
}
section.concepts {
    line-height: 175%;
}
img.illustration {
    height: auto;
    max-width: 100%;
    border-radius: 8px;
}
img.logo {
    height: auto;
    max-width: 100%;
}
.logoColor {
    color: #50A060;
}
.accent {
    font-weight: bolder;
}